*,
*::after,
*::before {
  user-select: none;
  padding: 0%;
  margin: 0;
  box-sizing: content-box;
  font-family: monaco, Consolas, Lucida Console, monospace;
  letter-spacing: -0.5px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main-ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  color: black;
  right: 3%;
  z-index: 11;
}

.main-li {
  float: left;
  background-color: #fff;
}

.main-li-a:hover {
  transition: all 150ms ease-in-out;
  background-color: #e6e6e6;
}

.main-li-a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 2em;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.main-head {
  font-weight: bolder;
  overflow: none;
  width: fit-content;
  transform: translate(2.7em, -2em);
  background-color: #fff;
}

.box-image {
  height: 12em;
  padding: 15px 25px;
}

.head {
  position: fixed;
  top: 0%;
  width: 21.8em;
  background-color: #fff;
  z-index: 10;
  height: 6.9em;
}

.head-image {
  position: relative;
  height: 60px;
  padding: 15px 25px;
  left: 0.8%;
  top: -1.1%;
}

a,
a::after,
a::before,
a:visited,
a:hover {
  color: black;
  text-decoration: none;
  overflow: hidden;
}

.about-main {
  width: 50em;
  transform: translate(7em, 3em);
}

.about-p {
  font-size: 1.75em;
  width: 50vw;
}

.about-links {
  position: absolute;
  left: 35em;
  font-size: 1.75em;
  top: 2em;
  width: fit-content;
}

.about-container {
  position: relative;
  height: 81vh;
  top: 7em;
  left: -4em;
}

.about-link-h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  width: fit-content;
}

.lang-cards {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 28em);
  transform: translate(50%, 10em);
  right: 50%;
  position: absolute;
}

.main-li-a:focus,
.main-li:focus {
  border: none;
  outline: none;
  background-color: #e6e6e6;
}

.img-box {
  text-align: center;
}

.work-button {
  margin: 1.5em 1.5em;
  padding: 5px 14px;
  border-radius: 27px;
  background-color: transparent;
  cursor: pointer;
}

.version {
  position: fixed;
  bottom: 0;
  left: 10px;
  color: #555;
}

.box {
  text-align: center;
}

.head-head {
  position: fixed;
  width: 100vw;
  height: 6.9em;
  z-index: 10;
  background-color: #fff;
}

.license-p {
  font-size: 1.75em;
  position: relative;
  top: 4em;
  right: -2em;
  word-wrap: break-word;
  width: 50em;
}

.main-main {
  position: absolute;
  left: 50%;
  top: 10em;
  transform: translateX(-50%);
}

.four-o-four {
  position: absolute;
  top: 10em;
  left: 7em;
}

.phone {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: 10em;
  left: 3em;
}

.work-button:hover, .work-button:focus {
  transition: all 250ms ease-in-out;
  background-color: #ddd;
}

.head-a:focus-visible {
  border: transparent;
  margin: transparent;
  z-index: -2;
  outline: none;
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}

body::-webkit-scrollbar:hover {
  background-color: #a2a2a2;
  transition: all 0.5s ease-in-out;
  border-radius: 6px;
}

@media screen and (max-width: 1496px) {
  .about-links {
    position: relative;
    left: 4em;
    font-size: 1.75em;
    top: 3em;
  }
}

@media screen and (max-width: 1200px) {
  body {
    visibility: hidden;
  }

  body::-webkit-scrollbar {
    width: 0.5em;
    background-color: #fff;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 6px;
  }
  
  body::-webkit-scrollbar:hover {
    background-color: #a2a2a2;
    transition: all 0.5s ease-in-out;
    border-radius: 6px;
  }

  .head {
    visibility: visible;
    position: fixed;
    top: 0%;
    width: 48.8em;
    background-color: #fff;
    z-index: 10;
    height: 6.9em;
    overflow: none;
  }

  .version {
    visibility: visible;
  }

  .main-li {
    visibility: visible;
    background-color: transparent;
    float: initial;
    border: transparent;
  }

  .main-li-a {
    visibility: visible;
    background-color: transparent;
    border: transparent;
  }

  .main-li-a:focus,
  .main-li:focus {
    border: none;
    outline: none;
  }

  .main-main {
    visibility: visible;
  }

  .lang-cards {
    visibility: visible;
    grid-template-columns: auto;
    right: 51%;
    overflow: hidden;
  }

  .about-container,
  .license-p {
    visibility: visible;
    width: 50vw;
  }

  .main-head {
    z-index: 100;
  }
}
